body{
    font-family: 'Open Sans', sans-serif;
    /*font-family: 'Fira Sans', sans-serif;*/
    /*font-family: 'Grotesk', sans-serif;*/
    background-color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    /*font-size: 16px;*/
    font-weight: 400;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility !important;
    -moz-osx-font-smoothing: grayscale !important;


}
h1,h2,h3,h4,h5,h6{
    font-family: 'Open Sans', sans-serif;
}

.container{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
}
.clear{
    clear: both;
}


/*.......header.........*/
.margin0 {
    margin: 0;
}
.navbar.navbar-slide {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
}

/*-------------------------------------*/
.navbar{
    height: 73px;
}
.hed-btn {
    width: 1200px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
}

.hed-btn  .logo-part {
    float: left;
    width: 20%;
    /*padding: 15px 0 15px 20px;*/
    padding: 24px 0 24px 20px;
}
.hed-btn  .logo-part img {
    width: 145px;
    /*width: 130px;*/
}

.hed-btn > ul {
    float: left;
    list-style: outside none none;
    text-align: right;
    /*width: 100%;*/
    width: 77%;
    padding:10px 15px 8px;;
    margin: 0;

}
.nav-barindex .hed-btn > ul {
    padding:10px 15px;

}
.sticky .hed-btn > ul {
    width: 77%;
    padding:10px 15px;

}
.hed-btn li {
    display: inline-block;
    padding: 5px 15px
}

.hed-btn li.menu-item a > img {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 25px;
    height: auto;
}

.hed-btn li.menu-item a {
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    font-size: 15px;
}
.banner-wrap-con1 > img {
    width: 380px;
}
/*-------------------------------------*/
*{
    box-sizing: border-box;
}

.sticky {
    /*background: #2d104b none repeat scroll 0 0;*/
    /*background: #662d91 none repeat scroll 0 0;*/
    /*background: #632264 none repeat scroll 0 0;*/
    /*background: #471048 none repeat scroll 0 0;*/
    background: #1b0034 none repeat scroll 0 0;
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 99;
    height:73px;
    display: none;
    /*transition-timing-function: ease;*/
}
.navbar {
    /*-webkit-transition: width 2s;  Safari */
    /*transition: width 2s;*/
    /*background: #662d91 none repeat scroll 0 0;*/
}

/*........banner..........*/

.banner {
    background-image: url("../images/pro-sapient/tower-bridge.png");
    /*background: #471048;*/
    background: #1b0034;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-size: 100% auto;*/
    height: 760px;
    /*height: 1010px;*/
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 9;
}

/*.banner-wrap{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    height: 170px;
}*/
video {
    /*height: 100%;*/
    position: absolute;
    z-index: -2;
    width: 100%;
}

.banner-wrap{
    width: 1180px;
    margin: 0 auto;
    position: relative;
    height:100%;

}
.banner-wrap-middle{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    vertical-align: middle;
    display: block;
    height: 255px;
}
.banner-wrap-con1{
    text-align: center;
    margin-bottom: 45px;
    /*padding: 140px 0 0;*/
    /*padding: 230px 0 0;*/
    /*padding: 358px 0 0;*/

}
.banner-wrap-con1 p{
    margin: 0;
    font-size: 34px;
    color: #fff;
    font-weight: bold;
}

.banner-wrap-search {
    margin: 0 auto 0;
    text-align: center;
    width: 750px;
    z-index: 9999;
}

.banner-wrap-search p {
    color: #fff;
    /*font-family: "Open Sans",sans-serif;*/
    margin-top: 0;
    font-size: 25px;
    font-weight: 500;
    font-style: normal;

}

.banner-wrap-search ul {
    list-style: outside none none;
    padding: 0;
}

.banner-wrap-search ul li {
    display: inline-block;
}
.banner-wrap-search ul li a {
    background: #fff none repeat scroll 0 0;
    border-radius: 50px;
    color: #561e80;
    display: block;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    height: 35px;
    line-height: 26px;
    margin: 0 10px;
    padding: 5px 13px;
    text-decoration: none;
    text-transform: uppercase;
    width: 160px;
}
.compliance-btn a {
    background: #561e80 none repeat scroll 0 0;
    border-radius: 50px;
    color: #fff;
    display: block;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    height: 35px;
    line-height: 26px;
    margin: 0 auto;
    padding: 5px 13px;
    text-decoration: none;
    text-transform: uppercase;
    width: 160px;
}
.banner-wrap-search ul li a:hover{
    /*background: #561e80;*/
    /*background: #632263;*/
    /*background: #471048;*/
    background: #4e3367;
    color: #fff;
}

.banner-btn{
    margin-top:60px;
}

.banner-wrap-search ul li.client{
    border-radius: 10px;
}
/*.banner-wrap-search ul li.client a{
    border-radius: 13px;
}*/

.banner-wrap-search-left{
    position: relative;
    float: left;
    margin: 0 auto;
}
.focus{
    border: solid 1px #969696;
    width: 510px;
    height: 46px;
    border-radius: 5px;  
    background: #fff url("../images/input-search.png") no-repeat 15px 15px;
    box-sizing: border-box;
}

.banner-wrap-search-right{
    float: left;
    position: relative;
    padding: 0 10px 0 ;
}

.banner-wrap-search-right-box{
    width: 48px;
    height: 48px;
    border-radius: 5px;
    background: #92322d url("../images/banner-search.png") no-repeat 15px 15px;
    display: block;
}

.contain{
    width: 100%;
    /*background-color: #2d104b;*/
    margin: 0;
    padding: 0;
    /*background: #92322d url("../images/bgimages.png");*/
    /*background: linear-gradient(to right, #780d93, #560f7c);*/

}

.contain-wrap{
    width: 1200px;
    margin: 0 auto;
}


.section-part-3.contain-bg3 .contain-wrap{
    height: 476px;
    /*background: #fff;*/
}

.contain-wrap h2.heading {
    /*color: #fff;*/
    font-family: "Open Sans",sans-serif;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 45px;
    margin-top: 0;
}
.contain{
    padding: 48px 0 40px 0;
    text-align: center;
}


.contain1 h1{
    margin: 0;
    font-size: 35px;
    color: #000;

}

.contain1 p{
    font-size: 12px;
    color: #7f7f7f;
    font-weight: bold;



}
.contain1 p a{
    font-size: 12px;
    color: #b34e4e;
    text-decoration: none;
    font-weight: bold;  
}

.contain-border{
    border-bottom: 1px #afafaf dashed;
    width: 100%;
    padding: 0 0 120px 0;

}
.contain-wrap2
{
    padding: 50px 0 50px 0;
}

.contain-wrap3 {
    display: flex;
    margin: 0 auto;
    padding: 0 0 100px;
}
.contain-box {
    background: #f6f6f6 none repeat scroll 0 0;
    /*border: 2px solid #632264;*/
    border: 2px solid #1b0034;
    border-radius: 20px;
    box-sizing: border-box;
    color: #560f7c;
    display: inline-block;
    flex: 1 1 0;
    height: 315px;
    margin: 0 4%;
    position: relative;
    width: 280px;
}

.contain-box h4 {
    color: #000;
    /*font-family: sans-serif;*/
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 18px;
}

hr {
    margin: 0 32px;
    border-bottom: 1px solid #000;
    /*border-bottom: 1px solid #b094c6;*/
}
.arrow
{
    position: absolute;
    right: -5px;
    top: 35px;
    z-index: 2;
}

.contain-box-inner{
    background-color: #b34e4e;
    border-radius: 50%;
    box-sizing: border-box;
    height: 75px;
    margin: 0 auto;
    padding: 2px;
    position: relative;
    width: 75px;

}

.contain-box-inner2{
    background-color: #b34e4e;
    border: 1px dashed #ffffff;
    border-radius: 50%;
    box-sizing: border-box;
    display: table-cell;
    height: 71px;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    width: 71px;

}

.contain-box p {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    padding: 0 15px;
}

.contain-bottom-box {
    bottom: -76px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
}
.contain-bottom-box > img {
    width: 160px;
}

/*.contain-bg {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #fff;
    background-image: url("../images/adobeStock_69748703_2.png");
    background-image: url("../images/tailored.jpg");
    background-origin: padding-box;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 592px;
}*/
.contain-bg {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #fff;
    /*background-image: url("../images/adobeStock_69748703_2.png");*/
    background-image: url("../images/tailored.jpg");
    background-origin: padding-box;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 0 0px 13px 1px #ccc;
    /*background-size: 885px auto;*/
    /*height: 592px;*/
    /*border: 1px solid;*/
}

/*.contain-bg .contain-right {
    float: right;
    margin-top: 127px;
    padding-right: 140px;
    text-align: center;
    width: 420px;
}*/
/*.contain-bg .contain-right {
    margin: 0 auto;
    padding-left: 350px;
    padding-top: 100px;
    text-align: center;
    width: 800px;
}*/
.contain-bg .contain-right {
    float: right;
    margin-right: 15%;
    padding-top: 120px;
    padding-bottom: 120px;
    /*padding-top: 55px;*/
    text-align: center;
    width: 475px;
}
.con-right-first {
    /*background: #f7f6f6 none repeat scroll 0 0;*/
    padding: 15px;
}
.con-right-second{
    /*background: #f7f6f6 none repeat scroll 0 0;*/
    padding: 15px; 
    margin-top: 10px;
}
.contain-right h3 {
    color: #000;
    font-size: 32px;
    font-weight: normal;
    margin: 0 0 10px;
}
.contain-right p {
    font-size: 19px;
    font-weight: 500;
    line-height: 26px;
    margin: 0;
}

.contain-bg3 {
    background-attachment: scroll;
    background-clip: border-box;
    /*background-color: #fff;*/
    /*background-image: url(../images/bgimage3.jpeg);*/
    background-origin: padding-box;
    background-position: top center;
    background-repeat: no-repeat;
    /*height: 310px;*/
    background-size: 100% auto;
    /*background: #fff;*/
    padding: 70px 0 120px;
    /*box-shadow: 0 0px 13px 1px #ccc;*/
}
.contain-bg3  .contain-right {
    margin: 0 auto;
    width: 360px;

}
.contain-bg3  .contain-right p{
    font-size: 17px;
}

.contain.section-part-3{
    /*padding:120px 0;*/
    padding:45px 0;
}

.contain.section-part-3 p 
{
    display: block;
    margin: 5px 0 15px;
    color: #000;
    line-height: 22px;
}

/*.....footer....*/

.footer{
    width: 100%;
    margin: 0;
    background-color: #595959;
    padding:0;
}

.footer-wrap{
    width: 100%;
    margin: 0 auto;

}

.footer-circle {
    /*background: rgba(0, 0, 0, 0) linear-gradient(to right, #780d93, #560f7c) repeat scroll 0 0;*/
    box-sizing: border-box;
    float: left;
    height: auto;
    padding: 20px 40px;
    width: 50%;
}

.footer-circle > img
{
    width: 100%;
}

.footer-con {
    float: left;
    padding: 20px 0 50px;
    width: 50%;
}
.footer-con #map img{
    width: 100%;
}

.footer-hed {
    width: 515px;
    margin: 0 auto 30px;
}
.footer-hed h3 {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    text-align: center;
}

.footer-hed p {
    margin: 0;
    color: #fff;
    text-align: center;
    font-size: 18px;
}

.footer-con2
{
    width: 100%;
    text-align: left;
    color: #fff;
}

.footer-con2 h3
{
    font-size: 30px;
    padding: 10px 0;
    margin: 0;
}
.footer-con2 p
{
    font-size: 14px;
    padding: 10px 0;
    margin: 0;
}
.footer-contact{
    width: 100%;
    margin: 0 0;
    padding: 45px 0 0;
    color: #fff;
    text-decoration: none;
}
.footer-contact ul{
    margin: 0;
    padding: 0;
}

.footer-contact ul li{
    display: inline;
    padding-right: 50px;
}


.form-group {
    margin-bottom: 24px;
    width: 100%;
}

.form-group input, .form-group textarea {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    box-sizing: border-box;
    display: inline-block;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin: 0 2%;
    padding: 11px 8px;
    text-align: center;
    width: 45.5%;
    /*width: 100%;*/
}
.form-group textarea {
    height: auto;
    margin: 0 5px;
    padding: 10px 0;
}
.btn {
    /*background: #632264 none repeat scroll 0 0;*/
    background: #1b0034 none repeat scroll 0 0;
    /*background: #662d91 none repeat scroll 0 0;*/
    border: 0 none;
    color: #fff;
    font-family: "open sans",sans-serif;
    font-size: 17px;
    padding: 10px 30px;
}
.btn.btn-primary {
    border-radius: 6px;
    cursor: pointer;
}
.contact-form .btn:hover {
    background: #ccc none repeat scroll 0 0;
    /*color: #fff !important;*/
    cursor: pointer;
}

.form-group input:focus, .form-group textarea:focus{
    border: none;
    box-shadow: none;
    outline-offset: 0;
    outline: none;
}

.contact-form {
    box-sizing: border-box;
}

.clear{
    clear: both;
}

.contact-form {
    float: right;
    margin-top: 14px;
    width: 80%;
}

.border-rad10{
    border-radius: 10px;
}
.border-rad20{
    border-radius: 20px;
}

/* usecase page */
.page-content{
    margin: 55px auto;
    width: 1200px;
}
.setion-left,
.setion-right{
    float: left;
    width: 50%;
    text-align: center;
}
/*.setion-right .content {
    width: 52%;
    margin: 55px auto;
}*/
.setion-right .content {
    margin: 55px auto;
    width: 72%;
}
.setion-right .content h3{
    font-weight: 900;
    margin: 0;
    font-size: 23px;
    color: #222222;
}
.setion-right .content p {
    color: #222;
    display: block;
    /*font-family: "Fira Sans",sans-serif;*/
    font-size: 22px;
    letter-spacing: -1px;
    margin: 0 0 20px;
}

.banner-wrap-bg {
    background: #000000 none repeat scroll 0 0;
    /*border-radius: 20px;*/
    height: 100%;
    left: 0;
    margin: 0;
    /*margin: 250px auto 0;*/
    opacity: 0.5;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -1;
}
/*.banner-wrap-bg {
    background: #000000 none repeat scroll 0 0;
    border-radius: 20px;
    height: 425px;
    left: 0;
    margin: 70px auto 0;
    margin: 250px auto 0;
    opacity: 0.5;
    position: absolute;
    right: 0;
    top: 0;
    width: 67%;
    z-index: -1;
}*/

.contain-help ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}
.contain-help ul li {
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 7px;
}
.contain-help .left {
    float: left;
    vertical-align: top;
}
.contain-help .right {
    float: right;
}

.section3-img {
    border-radius: 65px;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.img-sec1 {
    float: left;
    height: 100%;
    width: 50%;
}
.img-sec2 {
    float: left;
    height: 100%;
    width: 50%;
}
.section3-text {
    background: #fff none repeat scroll 0 0;
    border-radius: 40px;
    display: block;
    margin-left: 30%;
    margin-top: 16%;
    padding: 20px 30px;
    position: absolute;
}
.section3-text span {
    font-size: 26px;
    font-weight: 800;
}
.footer-con-map {
    padding: 0 45px;
    width: 490px;
}
/*.footer-con-text {
  margin-top: 25px;
}*/

.footer-con-text{
    margin-top: 10px;
}
.footer-con-text label {
    color: #fff;
    display: block;
    font-size: 18px;
    font-weight: normal;
}
.footer-con-text span {
    float: right;
    text-align: right;
}

.map-con {
    background: #ccc none repeat scroll 0 0;
    border-radius: 20px;
    height: 310px;
    margin-top: 16px;
    overflow: hidden;
    /*width: 480px;*/
}

.section4-con {
    float: left;
    padding-left: 40px;
    width: 60%;
}
.section4-img {
    float: left;
    height: 250px;
    margin-left: 40px;
    margin-top: 50px;
}
.section4-img > img {
    height: 100%;
}
.section4-con > h2 {
    color: #000;
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 15px;
}
.section4-con > p {
    font-size: 19px;
    margin: 0 auto;
    width: 75%;
}

.section4-subCon {
    margin: 0 auto;
    width: 90%;
}
.section4-subCon .left {
    float: left;
    font-size: 15px;
    font-weight: normal;
    padding: 10px 5px;
    width: 50%;
}
.section4-subCon .right {
    float: left;
    font-size: 15px;
    font-weight: normal;
    padding: 10px;
    width: 50%;
}
/*.section4-subCon .left > span {
    display: block;
    padding: 0 51px;
}
.section4-subCon .right > span {
    display: block;
    padding: 0 35px;
}*/
.contain-help {
    padding: 0 20px;
}



.footer_section2{
    /*    background: #2d104b;*/
    /*background: #662d91;*/
    /*background: #632263;*/
    /*background: #471048;*/
    background: #1b0034;
    color: #fff;
}
.footer_section2 .footer-wrap {
    margin: 0 auto;
    padding: 25px 0 15px;
    position: relative;
    width: 1200px;
}
.footer_section2 .left{
    float: left;
    width: 50%;
}
.footer_section2 .right{
    float: left;
    width: 50%;
}
.address-con {
    float: right;
    width: 65%;
}
.address-con .heading {
    font-size: 20px;
    margin-top: 0;
}
.address p span {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    vertical-align: top;
    width: 120px;
}
.address label {
    display: inline-block;
    font-size: 14px;
    width: 65%;
}
.address label a{
    color: #fff;
    text-decoration: none;
}
.address label a:hover{
    color: #fff;
    text-decoration: none;
}
.fSection-hed {
    width: 73%;
}
.fSection-hed i {
    font-size: 24px;
}
.copyright {
    bottom: 25px;
    position: absolute;
}

/*--------------------------------Contact us--------------------------------------------------*/
.contact-section .about-header {
    margin: 0 auto 35px;
    text-align: center;
    width: 60%;
}

.fancy-form .form-group.right-space {
    margin-right: 15px;
}
.fancy-form .form-group.half-width {
    width: 48%;
    display: inline-block;
    vertical-align: top;
}
label.error {
    font-size: 13px;
    color: #e03a3e;
}
.fancy-form .form-group {
    margin-bottom: 15px;
}
.fancy-form label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}
.fancy-form label {
    display: inline-block;
    font-weight: 600;
    min-width: 100px;
    text-align: left;
}
fancy-form .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.fancy-form .form-group input, .fancy-form .form-group textarea {
    background-color: #f9f9f9;
    border-radius: 7px;
    margin: 0;
    width: 100%;
}
.fancy-form .form-group textarea{
    height: auto;
}
.fancy-form .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.fancy-form {
    box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
    background-color: white;
    max-width: 600px;
    margin: 0 auto 100px auto;
}
.fancy-form input:focus, .fancy-form textarea:focus {
    border-color: rgba(102,45,145,0.55);
    box-shadow: inset 0 1px 1px rgba(102,45,145,0.075), 0 0 8px rgba(102,45,145,0.6);
}
.fancy-form form {
    padding: 20px;
}

/*---------------------------- End Contact us --------------------------------------------*/

/*---------------------------About section-------------------------------------------*/
.about-header > h2 {
    font-size: 30px;
}
.about-header > p {
    font-size: 23px;
}
.about-section .section1_left {
    float: left;
    width: 50%;
}
.about-section .section_right {
    float: left;
    width: 50%;
}
.about-section .contain-wrap > p {
    font-size: 19px;
}
.about-section .section1_con {
    float: right;
    text-align: left;
    width: 75%;
}
.about-section .section_right .section1_con {
    float: left;
    margin-left: 100px;
}
.about-section .section1Con-img {
    background: #ccc none repeat scroll 0 0;
    border: 1px solid #8b8b8b;
    /*height: 175px;*/
    height: 215px;
    width: 160px;
    overflow: hidden;
}
.about-section .section1Con-img img{
    height: 100%;
    width: 100%;
}

.about-section .about-header {
    margin-bottom: 40px;
    text-align: center;
}
.about-image-left{
    float: left;
    width: 50%;
}
.about-image-right{
    float: right;
    width: 50%;
}
/*---------------------------End About section-------------------------------------------*/

.loginpage{
    background: #471048;
}
.login-button .btn {
    height: 40px;
    font-size: 25px !important;
}


.compliance-contain p{
    text-align: left;
    font-size: 19px;
}
.compliance-contain h2{
    text-align: left;
    font-size: 32px;
    font-weight: normal;
}

/*-------------------------Modal----------------------------------------*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 38%;
    height: 100px;
    left: 0;
    right: 0;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


#success_message {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #1b0034;
    width: 785px;
    height: 74px;
    text-align: center;
    border-radius: 10px;
    padding: 18px;
    font-size: 22px;
    color: #fff;
    box-shadow: 0 0 6px #777;
    font-weight: 600;
    right: 0;
    left: 0;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: rgb(255, 255, 255) !important;
}
/*-------------------------Modal----------------------------------------*/


.text-content .contain{
    text-align: left;
}

/*.......................media Query for Tailored module....................................*/
@media only screen and (min-width: 1201px) and (max-width: 1500px) {
    .contain-bg .contain-right {
        padding-top: 100px;
        padding-bottom: 100px;
    }

}
@media only screen and (min-width: 1001px) and (max-width: 1200px) {
    .contain-bg .contain-right {
        padding-top: 60px;
        padding-bottom: 60px;
        margin-right: 9%;
    }

}
@media only screen and (min-width: 800px) and (max-width: 1000px) {
    .contain-bg .contain-right {
        padding-top: 40px;
        padding-bottom: 40px;
        margin-right: 9%;
    }

}

/*.......................media Query for Tailored module....................................*/


@media only screen and (min-width: 320px) {
    .usercasepage .hed-btn, .usercasepage .page-content {
        padding: 0 20px;
    }
    .footer_section2 .footer-wrap{
        padding: 25px 20px 15px
    }

}
@media only screen and (min-width: 1046px)and (max-width: 1350px) {
    /*    .banner-wrap-con1 {
            padding: 238px 0 0;
        }*/
    .banner-wrap-con1.login-wrap {
        padding: 238px 0 0;
    }


}
/* responsive css */
@media only screen and (min-width: 1046px) and (max-width: 1350px) {
    .hed-btn,
    .banner-wrap,
    .contain-wrap,
    .banner-wrap-search{
        width:100%;
    }
    /*    .contain-bg {
            background: #fff url("../images/adobeStock_69748703_2.png") no-repeat scroll center top / cover ;
        }*/
    /*    .contain-bg {
            background: #fff url("../images/adobeStock_69748703_2.png") no-repeat scroll center top / cover ;
        }*/
    .form-group input, .form-group textarea {
        margin: 0 2%;
    }
    video {
        height: 100%;
        width: auto; 
    }
    .footer_section2 .footer-wrap {
        width: 100%;
        padding: 25px 50px 15px;
    }
    .address p span {
        width: 100px;
    }


}

@media only screen and (min-width: 960px) and (max-width: 1045px) {
    video {
        height: auto;
        width: 100%; 
    }
    .hed-btn,
    .banner-wrap,
    .contain-wrap,
    .banner-wrap-search{
        width:95%;
    }
    .banner{
        background-size: cover;
        height: auto;
        background-repeat: no-repeat;
        padding: 0 0 10px;
        height: 540px;
    }
    .hed-btn > ul {
        text-align: center;
        width: 100%;
        padding: 15px 0 0;
        margin: 0;
    }
    .hed-btn li {
        padding: 5px 15px;
    }
    .banner-wrap-middle {
        height: 212px;
    }
    .banner-wrap-con1 {
        text-align: center;
        margin-bottom: 35px;
        /*padding: 170px 0 0;*/
    }
    .banner-wrap-con1 img {
        width: 30%;
    }
    .banner-wrap-search p {
        font-size: 15px;
        margin: 0;
    }
    .banner-btn {
        margin-top: 35px;
    }
    .banner-wrap-search ul {
        margin: 0;
        padding: 0;
    }
    .banner-wrap-search ul li a {
        padding: 5px 13px;
        width: 150px;
        margin: 6px 10px 10px;
    }
    .contain {
        padding: 30px 0 40px 0;
    }
    .contain-wrap h2 {
        margin-bottom: 30px;
        margin-top: 0;
    }
    .contain-box {
        float: left;
        margin-left: 0;
        width: 46%;
        margin: 0 2% 100px;
    }
    .contain-wrap3{
        padding:0 ;
    }
    /*    .section-part-2.contain-bg {
            padding: 58px 0;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            height: auto;
        }*/
    .contain-bg .contain-right {
        float: right;
        margin: 10px auto;
        width: 65%;
    }
    .contain.section-part-3 {
        padding: 35px 0;
        height: auto;
    }
    .contain-bg3 .contain-right {
        margin: 0 auto;
        width: 90%;
    }
    .contain-bg3{
        background-size: cover;
    }
    .footer-circle {
        float: none;
        height: auto;
        width: 100%;
    }
    .contact-form {
        float: none;
        width: 100%;
    }
    .footer-hed{
        width: 100%;
    }
    .form-group input, .form-group textarea {
        width: 45%;
    }
    .footer-con {
        float: none;
        width: 100%;
    }
    .footer-con  #map{
        height: auto !important;
    }  
    /* login page */

    .loginpage .banner{
        height:100vh;
    }
    .hed-btn > ul{
        text-align: right;
    }
    .loginpage  .banner-wrap-con1{
        padding: 110px 0 0;
    }
    .loginpage  .contact-form{
        float: none;
        width: 40%;
        margin: 0 auto;
    }
    .loginpage  .form-group input,
    .loginpage  .form-group textarea{
        margin:0 0;
    }
    /* login page */
    /* usecase page */
    .usercasepage .hed-btn,
    .usercasepage .page-content{
        width: 100%;
    }

    /*    .banner-wrap-bg {
            height: 285px;
            margin: 0 auto;
        }*/
    .footer-con {
        float: left;
        width: 46%;
    }
    .footer-circle {
        float: left;
        height: auto;
        width: 49%;
    }
    .footer-con-map {
        box-sizing: border-box;
        padding: 0 45px;
        width: 490px;
    }

    /*------------ footer -----------------------*/

    .footer_section2 .footer-wrap {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .address-con {
        width: 80%;
    }

    /*------------ end footer -----------------------*/

    /*------------about us -----------------------*/
    .about-section .section_right .section1_con {
        margin-left: 0;
    }
    .about-section .section1_con {
        width: 100%;
    }
    .about-section .section1_con {
        padding: 0 15px;
        width: 100%;
    }
    /*------------ End about us -----------------------*/
    .contain-bg .contain-right {
        padding-top: 23px;
    }
    .contain-bg .contain-right {
        width: 475px;;
    }
    /* usecase page */
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .hed-btn,
    .banner-wrap,
    .contain-wrap,
    .banner-wrap-search{
        width:95%;
    }
    .banner{
        background-size: cover;
        height: auto;
        background-repeat: no-repeat;
        padding: 0 0 10px;
        height: 430px;
    }
    .hed-btn > ul {
        text-align: center;
        width: 100%;
        padding: 15px 0 0;
        margin: 0;
    }
    .hed-btn li {
        padding: 5px 15px;
    }
    .banner-wrap-middle{
        height: 190px;
    }
    .banner-wrap-con1 {
        text-align: center;
        margin-bottom: 25px;
        /*padding: 125px 0 0;*/
    }
    .banner-wrap-con1 img {
        width: 30%;
    }
    .banner-wrap-search p {
        font-size: 15px;
        margin: 0;
    }
    .banner-btn {
        margin-top: 25px;
    }
    .banner-wrap-search ul {
        margin: 0;
        padding: 0;
    }
    .banner-wrap-search ul li a {
        padding: 5px 13px;
        width: 150px;
        margin: 6px 10px 10px;
    }
    .contain {
        padding: 30px 0 40px 0;
    }
    .contain-wrap h2 {
        margin-bottom: 30px;
        margin-top: 0;
    }
    .contain-box {
        float: left;
        margin-left: 0;
        width: 46%;
        margin: 0 2% 100px;
    }
    .contain-wrap3{
        padding:0 ;
    }
    .contain-wrap3 {
        display: block;
    }
    /*    .section-part-2.contain-bg {
            padding: 58px 0;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            height: auto;
        }*/
    .contain-bg .contain-right {
        float: right;
        margin: 10px auto;
        width: 55%;
    }
    .contain.section-part-3 {
        padding: 35px 0;
        height: auto;
    }
    .contain-bg3 .contain-right {
        margin: 0 auto;
        width: 90%;
    }
    .contain-bg3{
        background-size: cover;
    }
    .footer-circle {
        float: none;
        height: auto;
        width: 100%;
    }
    .contact-form {
        float: none;
        width: 100%;
    }
    .footer-hed{
        width: 100%;
    }
    .form-group input, .form-group textarea {
        width: 45%;
    }
    .footer-con {
        float: none;
        width: 100%;
    }
    .footer-con  #map{
        height: auto !important;
    }
    /* login page */
    .loginpage .banner{
        height:100vh;
    }
    .hed-btn > ul{
        text-align: right;
    }
    .loginpage  .banner-wrap-con1{
        padding: 110px 0 0;
    }
    .loginpage  .contact-form{
        float: none;
        width: 40%;
        margin: 0 auto;
    }
    .loginpage  .form-group input,
    .loginpage  .form-group textarea{
        margin:0 0;
    }
    /* login page */
    /* usecase page */
    .usercasepage .hed-btn,
    .usercasepage .page-content{
        width: 100%;
    }
    .setion-right .content{
        width: 70%;
        margin: 55px auto;
    }


    .footer-con-map {
        margin: 0 auto;
    }

    .contain.section-part-3 {
        padding: 60px 0;
    }
    .section-part-3.contain-bg3 .contain-wrap {
        box-sizing: border-box;
        height: 245px;
        padding: 0 10px;
    }
    .section3-img {
        border-radius: 35px;
    }
    .section3-text {
        border-radius: 40px;
        margin-left: 27%;
        margin-top: 13%;
        padding: 11px 20px;
    }
    .section3-text span {
        font-size: 15px;
    }
    .img-sec1 > img {
        height: 100%;
        width: 100%;
    }
    .img-sec2 > img {
        height: 100%;
        width: 100%;
    }

    .section4-con {
        float: left;
        padding-left: 0;
        width: 62%;
    }
    .section4-img {
        margin-left: 20px;
    }
    .section4-con > p {
        width: 100%;
    }
    .section4-subCon {
        width: 100%;
    }
    .section4-subCon .left > p {
        margin: 5px;
    }
    .section4-subCon .right > p {
        margin: 5px;
    }


    /*------------ footer -----------------------*/

    .footer_section2 .footer-wrap {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .fSection-hed {
        width: 91%;
    }
    .address-con {
        width: 100%;
    }
    .address p span {
        width: 100px;
    }

    /*------------ end footer -----------------------*/

    /*------------about us -----------------------*/
    .about-section .section_right .section1_con {
        margin-left: 0;
    }
    .about-section .section1_con {
        width: 100%;
    }
    .about-section .section1_con {
        padding: 0 15px;
        width: 100%;
    }
    /*------------ End about us -----------------------*/
    .contain-bg .contain-right {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .contain-right p {
        font-size: 16px;
    }
    /* usecase page */
}
@media only screen and (min-width: 591px) and (max-width: 767px) {
    video{
        display: none;
    }
    .hed-btn,
    .banner-wrap,
    .contain-wrap,
    .banner-wrap-search{
        width:95%;
    }
    .banner{
        background-size: cover;
        height: 100vh;
        background-repeat: no-repeat;
        padding: 0 0 10px;
        position: relative;
        /*background-image: url("../images/banner2.png");*/
    }
    .banner-wrap{
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 0;
        bottom: 0;
        height: 170px;
    }
    .banner-wrap-bg {
        opacity: 0.2;
    }

    /*-------- Sticky Header-----------*/
    .navbar-slide.sticky .hed-btn .logo-part img {
        width: 150px;
    }
    .navbar-slide.sticky .hed-btn .logo-part {
        display: block !important;
        padding: 15px 0 15px 20px;
    }
    .navbar-slide.sticky .hed-btn > ul {
        text-align: right;
    }
    .navbar-slide.sticky .hed-btn li.menu-item a {
        font-size: 12px;
    }
    /*-------- End Sticky Header-----------*/
    .hed-btn > ul {
        text-align: center;
        width: 100%;
        padding: 15px 0;
        margin: 0;
    }
    .hed-btn li {
        padding: 5px 15px;
    }
    .banner-wrap-middle{
        height: 190px;
        margin-top: 10px;
    }
    .banner-wrap-con1 {
        text-align: center;
        margin-bottom: 25px;
        /*padding: 20px 0 0;*/
    }
    .banner-wrap-con1 img {
        width: 35%;
    }
    .banner-wrap-search p {
        font-size: 15px;
        margin: 0;
    }
    .banner-btn {
        margin-top: 25px;
        margin-bottom: 20px;
    }
    .banner-wrap-search ul {
        margin: 0;
        padding: 0;
    }
    .banner-wrap-search ul li a {
        padding: 5px 13px;
        width: 150px;
        margin: 6px 10px 10px;
    }
    .contain {
        padding: 30px 0 40px 0;
    }
    .contain-wrap h2 {
        margin-bottom: 30px;
        margin-top: 0;
    }
    .contain-box {
        float: left;
        margin-left: 0;
        width: 46%;
        margin: 0 2% 100px;
    }
    .contain-wrap3{
        padding:0 ;
    }
    .contain-wrap3 {
        display: block;
    }
    .section-part-2.contain-bg {
        padding: 58px 0;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: auto;
        background: #dadbdf;
    }
    .contain-bg .contain-right {
        float: none;
        margin: 10px auto;
        width: 65%;
        padding-bottom: 0;
    }
    .contain-bg .contain-right {
        padding-top: 0;
    }
    .contain.section-part-3 {
        padding: 35px 0;
        height: auto;
    }
    .contain-bg3 .contain-right {
        margin: 0 auto;
        width: 90%;
    }
    .contain-bg3{
        background-size: cover;
    }
    .footer-circle {
        float: none;
        height: auto;
        width: 100%;
    }
    .contact-form {
        float: none;
        width: 100%;
    }
    .footer-hed{
        width: 100%;
    }
    .form-group input, .form-group textarea {
        width: 45%;
    }
    .footer-con {
        float: none;
        width: 100%;
    }
    .footer-con  #map{
        height: auto !important;
    }
    /* login page */
    .loginpage .banner{
        height:100vh;
    }
    .hed-btn > ul{
        text-align: right;
    }
    .loginpage  .banner-wrap-con1{
        padding: 65px 0 0;
    }
    .loginpage  .contact-form{
        float: none;
        width: 40%;
        margin: 0 auto;
    }
    .loginpage  .form-group input,
    .loginpage  .form-group textarea{
        margin:0 0;
    }
    /* login page */
    /* usecase page */

    .usercasepage .hed-btn,
    .usercasepage .page-content{
        width: 100%;
    }
    .setion-right .content {
        width: 80%;
        margin: 55px auto;
    }


    /*    .banner-wrap-bg {
            height: 250px;
            margin: 0 auto;
        }*/
    .footer-con-map {
        margin: 0 auto;
    }


    .contain.section-part-3 {
        padding: 60px 0;
    }
    .section-part-3.contain-bg3 .contain-wrap {
        box-sizing: border-box;
        height: 200px;
        padding: 0 10px;
    }
    .section3-img {
        border-radius: 35px;
    }
    .section3-text {
        border-radius: 40px;
        margin-left: 27%;
        margin-top: 13%;
        padding: 11px 20px;
    }
    .section3-text span {
        font-size: 15px;
    }
    .img-sec1 > img {
        height: 100%;
        width: 100%;
    }
    .img-sec2 > img {
        height: 100%;
        width: 100%;
    }

    .section4-con {
        float: none;
        padding-left: 0;
        width: 100%;
    }
    .section4-img {
        display: none;
    }

    /*------------ footer -----------------------*/

    .footer_section2 .footer-wrap {
        width: 100%;
        padding-left: 25px;
        padding-right: 20px;
    }
    .fSection-hed {
        width: 91%;
    }
    .address-con {
        width: 100%;
    }
    .address p span {
        width: 88px;
    }

    /*------------ end footer -----------------------*/

    /*------------about us -----------------------*/
    .about-section .section1_left {
        float: none;
        width: 100%;
    }
    .about-section .section1_con {
        float: none;
        padding: 0 10px;
        width: 100%;
    }

    .about-section .section_right {
        float: none;
        width: 100%;
    }
    .about-section .section_right .section1_con {
        float: none;
        margin-left: 0;
    }
    .about-section .section1Con-img {
        margin: 0 auto;
    }
    /*------------ End about us -----------------------*/
    /* usecase page */
    #success_message{
        width: 86%;
        height: 90px;
    }

}
@media only screen and (min-width: 471px) and (max-width: 590px) {
    video {
        height: 100%;
        width: auto;
        display: none;
    }
    .hed-btn,
    .banner-wrap,
    .contain-wrap,
    .banner-wrap-search{
        width:100%;
    }
    .banner{
        background-size: cover;
        height: 100vh;
        background-repeat: no-repeat;
        padding: 0 0 10px;
        position: relative;
        /*background-image: url("../images/banner2.png");*/
    }
    .banner-wrap{
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 0;
        bottom: 0;
        height: 180px;
    }
    .banner-wrap-bg {
        opacity: 0.2;
    }

    /*-------- Sticky Header-----------*/
    .navbar-slide.sticky .hed-btn .logo-part img {
        width: 150px;
    }
    .navbar-slide.sticky .hed-btn .logo-part {
        display: block !important;
        padding: 15px 0 15px 20px;
    }
    .navbar-slide.sticky .hed-btn > ul {
        text-align: right;
    }
    .navbar-slide.sticky .hed-btn li.menu-item a {
        font-size: 12px;
    }
    /*-------- End Sticky Header-----------*/
    .hed-btn > ul {
        text-align: center;
        width: 100%;
        padding: 15px 0;
        margin: 0;
    }
    .hed-btn .logo-part {
        display: none !important;
    }
    .hed-btn li {
        padding: 5px 15px;
    }
    .banner-wrap-middle{
        height: 190px;
        margin-top: 20px;
    }
    .banner-wrap-con1 {
        text-align: center;
        margin-bottom: 25px;
        /*padding: 20px 0 0;*/
    }
    .banner-wrap-con1 img {
        width: 50%;
    }
    .banner-wrap-search p {
        font-size: 15px;
        margin: 0;
    }
    .banner-btn {
        margin-top: 25px;
        margin-bottom: 20px;
    }
    .banner-wrap-search ul {
        margin: 0;
        padding: 0;
    }
    .banner-wrap-search ul li a {
        padding: 5px 13px;
        width: 150px;
        margin: 6px 10px 10px;
    }
    .contain {
        padding: 30px 0 40px 0;
    }
    .contain-wrap h2 {
        margin-bottom: 30px;
        margin-top: 0;
    }
    .contain-box {
        float: none;
        margin-left: 0;
        width: 80%;
        margin: 0 auto 100px;
        height: auto;
        padding-bottom: 60px;
    }
    .contain-wrap3{
        padding:0 ;
    }
    .section-part-2.contain-bg {
        padding: 50px 0;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: auto;
        background: #dadbdf;
    }
    .contain-bg .contain-right {
        float: none;
        margin: 10px auto;
        width: 90%;
    }
    .contain.section-part-3 {
        padding: 110px 0;
    }
    .contain-bg3 .contain-right {
        margin: 0 auto;
        width: 90%;
    }
    .con-right-first {
        padding: 0;
    }
    .contain-right h3 {
        font-size: 29px;
    }
    .contain-right p {
        font-size: 18px;
    }
    .contain-bg3{
        background-size: cover;
    }
    .footer-circle {
        float: none;
        height: auto;
        width: 100%;
    }
    .contact-form {
        float: none;
        width: 100%;
    }
    .footer-hed{
        width: 100%;
    }
    .form-group input, .form-group textarea {
        width: 45%;
    }
    .footer-con {
        float: none;
        width: 100%;
    }
    .footer-con  #map{
        height: auto !important;
    }

    /* login page */
    .loginpage .banner{
        height:100vh;
    }
    .loginpage .hed-btn .logo-part ,
    .usercasepage .hed-btn .logo-part {
        float: none;
        width: 35%;
        padding: 15px 0;
        margin: 0 auto;
    }
    .loginpage .hed-btn > ul ,
    .usercasepage .hed-btn > ul {
        float: none;
        width: 100%;
        padding: 10px 0 8px;
    }
    .loginpage  .banner-wrap-con1{
        padding: 110px 0 0;
    }
    .loginpage  .contact-form{
        float: none;
        width: 64%;
        margin: 0 auto;
    }
    .loginpage  .form-group input,
    .loginpage  .form-group textarea{
        margin:0 0;
    }
    /* login page */

    /* usecase page */
    .usercasepage .hed-btn,
    .usercasepage .page-content{
        width: 100%;
    }
    .usercasepage .setion-left,
    .usercasepage .setion-right {
        float: none;
        width: 100%;
    }
    .usercasepage .setion-right .content {
        width: 90%;
        margin: 35px auto;
    }
    .login-form{
        padding-top: 30px;
    }
    /*---------------------------------------------*/
    .contain-wrap3 {
        display: block;
    }
    /*    .banner-wrap-bg {
            height: 300px;
            left: 0;
            margin: 0 auto;
            width: 92%;
        }*/
    .contain-bg .contain-right {
        padding-left: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
    .contain-right > p {
        font-size: 17px;
    }
    .contain-help ul li {
        font-size: 16px;
    }
    .footer-circle {
        padding: 20px 10px;
    }
    .footer-con-map {
        box-sizing: border-box;
        padding: 0 10px;
        width: 100%;
    }
    .footer-con-text label {
        font-size: 18px;
    }


    .contain.section-part-3 {
        padding: 60px 0;
    }
    .section-part-3.contain-bg3 .contain-wrap {
        box-sizing: border-box;
        height: 200px;
        padding: 0 10px;
    }
    .section3-img {
        border-radius: 35px;
    }
    .section3-text {
        border-radius: 40px;
        margin-left: 8%;
        margin-top: 20%;
        padding: 11px 20px;
    }
    .section3-text span {
        font-size: 15px;
    }
    .img-sec1 > img {
        height: 100%;
    }
    .img-sec2 > img {
        height: 100%;
    }



    .section4-con {
        float: none;
        padding-left: 0;
        width: 100%;
    }
    .section4-con > p {
        width: 90%;
    }
    .section4-subCon {
        margin: 20px auto 0;
        width: 90%;
    }
    .section4-subCon .left {
        float: none;
        width: 100%;
        padding: 10px 5px;
    }
    .section4-subCon .left > p {
        margin: 5px 0;
    }
    .section4-subCon .right {
        float: none;
        font-size: 19px;
        font-weight: normal;
        padding: 10px 5px;
        width: 100%;
    }
    .section4-subCon .right > p {
        font-size: 15px;
        margin: 0;
    }
    .section4-img {
        display: none;
    }


    /*------------ footer -----------------------*/

    .footer_section2 .footer-wrap {
        width: 100%;
    }
    .footer_section2 .left {
        float: none;
        width: 100%;
        padding: 0 10px;
    }
    .fSection-hed {
        width: 100%;
    }
    .footer_section2 .right {
        float: none;
        margin: 20px 0;
        width: 100%;
        padding: 0 20px;
    }
    .address-con {
        float: none;
        margin-bottom: 45px;
        width: 100%;
    }
    .copyright {
        bottom: 15px;
    }
    .address-con .heading {
        text-align: center;
    }
    .address p span {
        width: 31%;
    }
    .address p {
        margin-bottom: 5px;
    }
    .fSection-hed {
        display: none;
    }
    .copyright {
        left: 0;
        right: 0;
        text-align: center;
    }

    /*------------ end footer -----------------------*/

    /*------------contact us-----------------------*/
    .fancy-form .form-group.half-width {
        display: inline-block;
        width: 100%;
    }
    .contact-section .about-header {
        margin: 0 auto 35px;
        padding: 0 10px;
        text-align: center;
        width: 100%;
    }
    .about-header > p {
        font-size: 20px;
    }
    /*------------End contact us-----------------------*/

    /*------------about us -----------------------*/
    .about-section .section1_left {
        float: none;
        width: 100%;
    }
    .about-section .section1_con {
        float: none;
        padding: 0 10px;
        width: 100%;
    }

    .about-section .section_right {
        float: none;
        width: 100%;
    }
    .about-section .section_right .section1_con {
        float: none;
        margin-left: 0;
    }
    .about-section .section1Con-img {
        margin: 0 auto;
    }
    /*------------ End about us -----------------------*/
    /* usecase page */
    #success_message{
        font-size: 18px;
        width: 86%;
        height: 90px;
    }

}
@media only screen and (min-width: 320px) and (max-width: 470px) {
    video {
        height: 100%;
        width: auto;
        display: none;
    }
    .hed-btn,
    .banner-wrap,
    .contain-wrap,
    .banner-wrap-search{
        width:100%;
    }
    .banner{
        background-size: cover;
        height: auto;
        height: 100vh;
        background-repeat: no-repeat;
        padding: 0 0 10px;
        position: relative;
        /*background-image: url("../images/banner2.png");*/
    }
    .banner-wrap{
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 0;
        bottom: 0;
        height: 220px;
    }
    .banner-wrap-bg {
        opacity: 0.2;
    }

    /*-------- Sticky Header-----------*/
    .navbar-slide.sticky .hed-btn .logo-part img {
        width: 120px;
    }
    .navbar-slide.sticky .hed-btn .logo-part {
        display: block !important;
        padding: 15px 0 15px 9px;
    }
    .navbar-slide.sticky .hed-btn > ul {
        text-align: right;
    }
    .navbar-slide.sticky .hed-btn li.menu-item a {
        font-size: 12px;
    }
    /*-------- End Sticky Header-----------*/
    .hed-btn > ul {
        text-align: center;
        width: 100%;
        padding: 15px 0;
        margin: 0;
    }
    .hed-btn .logo-part {
        display: none !important;
    }
    .hed-btn li {
        /*padding: 5px 15px;*/
        padding: 5px 5px;
    }
    .hed-btn li.menu-item a {
        font-size: 12px;
    }
    .banner-wrap-con1 {
        text-align: center;
        padding: 0;
        margin-bottom: 20px;
        /*padding: 70px 0 0;*/
        /*padding: 85px 0 0;*/
    }
    .banner-wrap-con1 img {
        /*width: 45%;*/
        width: 70% !important;
        /*width: 50%;*/
    }
    .banner-wrap-search p {
        font-size: 18px;
        margin: 0;
        padding: 0 15px;
    }
    .banner-btn {
        margin-top: 25px;
        margin-bottom: 20px;
    }
    .banner-wrap-search ul {
        margin: 0;
        padding: 0;
    }
    .banner-wrap-search ul li {
        display: block;
    }
    .banner-wrap-search ul li a {
        padding: 5px 13px;
        width: 150px;
        /*margin: 6px 10px 10px;*/
        margin: 6px auto 15px;
    }
    .contain {
        padding: 30px 0 40px 0;
    }
    .contain-wrap h2 {
        margin-bottom: 30px;
        margin-top: 0;
    }
    .contain-box {
        float: none;
        margin-left: 0;
        width: 80%;
        margin: 0 auto 100px;
        height: auto;
        padding-bottom: 60px;
    }
    .contain-wrap3{
        padding:0 ;
    }
    .section-part-2.contain-bg {
        padding: 50px 0;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: auto;
        background: #dadbdf;
        /*background: #1b0034;*/
    }
    .contain-bg .contain-right {
        float: none;
        margin: 10px auto;
        width: 90%;
    }
    .contain.section-part-3 {
        padding: 110px 0;
    }
    .contain-bg3 .contain-right {
        margin: 0 auto;
        width: 90%;
    }
    .con-right-first {
        padding: 0;
    }
    .contain-right h3 {
        font-size: 29px;
        margin-bottom: 25px;
        /*color: #fff;*/
    }
    .contain-right p {
        font-size: 18px;
        /*color: #fff*/
    }
    .contain-bg3{
        background-size: cover;
    }
    .footer-circle {
        float: none;
        height: auto;
        width: 100%;
    }
    .contact-form {
        float: none;
        width: 100%;
    }
    .footer-hed{
        width: 100%;
    }
    .form-group input, .form-group textarea {
        width: 45%;
    }
    .footer-con {
        float: none;
        width: 100%;
    }
    .footer-con  #map{
        height: auto !important;
    }

    /* login page */
    .loginpage .banner{
        height:100vh;
    }
    .loginpage .hed-btn .logo-part ,
    .usercasepage .hed-btn .logo-part {
        float: none;
        width: 35%;
        padding: 15px 0;
        margin: 0 auto;
    }
    .loginpage .hed-btn > ul ,
    .usercasepage .hed-btn > ul {
        float: none;
        width: 100%;
        padding: 11px 0 7px 0;
    }
    .loginpage  .banner-wrap-con1{
        padding: 110px 0 0;
    }
    .loginpage  .contact-form{
        float: none;
        width: 64%;
        margin: 0 auto;
    }
    .loginpage  .form-group input,
    .loginpage  .form-group textarea{
        margin:0 0;
    }
    /* login page */

    /* usecase page */
    .usercasepage .hed-btn,
    .usercasepage .page-content{
        width: 100%;
    }
    .usercasepage .setion-left,
    .usercasepage .setion-right {
        float: none;
        width: 100%;
    }
    .usercasepage .setion-right .content {
        width: 90%;
        margin: 35px auto;
    }

    /*---------------------------------------------*/
    .contain-wrap3 {
        display: block;
    }
    /*    .banner-wrap-bg {
            height: 300px;
            left: 0;
            margin: 0 auto;
            width: 92%;
        }*/
    .contain-bg .contain-right {
        padding-left: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
    .contain-right > p {
        font-size: 17px;
    }
    .contain-help ul li {
        font-size: 16px;
    }
    .footer-circle {
        padding: 20px 10px;
    }
    .footer-con-map {
        box-sizing: border-box;
        padding: 0 10px;
        width: 100%;
    }
    .footer-con-text label {
        font-size: 18px;
    }


    .contain.section-part-3 {
        padding: 60px 0;
    }
    .section-part-3.contain-bg3 .contain-wrap {
        box-sizing: border-box;
        height: 200px;
        padding: 0 10px;
    }
    .section3-img {
        border-radius: 35px;
    }
    .section3-text {
        border-radius: 40px;
        margin-left: 8%;
        margin-top: 20%;
        padding: 11px 20px;
    }
    .section3-text span {
        font-size: 15px;
    }
    .img-sec1 > img {
        height: 100%;
    }
    .img-sec2 > img {
        height: 100%;
    }



    .section4-con {
        float: none;
        padding-left: 0;
        width: 100%;
    }
    .section4-con > p {
        width: 90%;
    }
    .section4-subCon {
        margin: 20px auto 0;
        width: 90%;
    }
    .section4-subCon .left {
        float: none;
        width: 100%;
        padding: 10px 5px;
    }
    .section4-subCon .left > p {
        margin: 5px 0;
    }
    .section4-subCon .right {
        float: none;
        font-size: 19px;
        font-weight: normal;
        padding: 10px 5px;
        width: 100%;
    }
    .section4-subCon .right > p {
        font-size: 15px;
        margin: 0;
    }
    .section4-img {
        display: none;
    }


    /*------------ footer -----------------------*/

    .footer_section2 .footer-wrap {
        width: 100%;
    }
    .footer_section2 .left {
        float: none;
        width: 100%;
        padding: 0 10px;
    }
    .fSection-hed {
        width: 100%;
    }
    .footer_section2 .right {
        float: none;
        margin: 20px 0;
        width: 100%;
        padding: 0 20px;
    }
    .address-con {
        float: none;
        margin-bottom: 45px;
        width: 100%;
    }
    .copyright {
        bottom: 15px;
    }
    .address-con .heading {
        text-align: center;
    }
    .address p span {
        width: 31%;
    }
    .address p {
        margin-bottom: 5px;
    }
    .fSection-hed {
        display: none;
    }
    .copyright {
        left: 0;
        right: 0;
        text-align: center;
    }

    /*------------ end footer -----------------------*/

    /*------------contact us-----------------------*/
    .fancy-form .form-group.half-width {
        display: inline-block;
        width: 100%;
    }
    .contact-section .about-header {
        margin: 0 auto 35px;
        padding: 0 10px;
        text-align: center;
        width: 100%;
    }
    .about-header > p {
        font-size: 20px;
    }
    /*------------End contact us-----------------------*/

    /*------------about us -----------------------*/
    .about-section .section1_left {
        float: none;
        width: 100%;
    }
    .about-section .section1_con {
        float: none;
        padding: 0 10px;
        width: 100%;
    }

    .about-section .section_right {
        float: none;
        width: 100%;
    }
    .about-section .section_right .section1_con {
        float: none;
        margin-left: 0;
    }
    .about-section .section1Con-img {
        margin: 0 auto;
    }

    /*------------ End about us -----------------------*/
    /* usecase page */
    #success_message{
        font-size: 16px;
        width: 86%;
        height: 90px;
    }
}

/* responsive css */


/*.about-container{
    width: 100%;
    display: block;
    position: relative;
}
.aboutImg-bg img{
    width: 100%;
}
.aboutImg-contain {
    width: 1200px;
    display: block;
    position: absolute;
    top: 0;
    color: #fff;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: #1b0034;
    height: 100%;
    opacity: 0.9;
    padding: 30px 20px;
    z-index: 9;
}
.aboutImg-contain-left {
    float: left;
    width: 50%;
    text-align: center;
}
.aboutImg-contain-right {
    float: left;
    width: 50%;
    text-align: center;
}
.aboutImg-contain p{
    font-size: 23px;
    margin-top: 0;
}
.aboutImg-contain h2{
    font-size: 28px;
    margin-bottom: 0;
}

-----------------
.aboutImg-background {
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 9;
    height: 100%;
    opacity: 0.9;
}
.aboutImg-background-left {
    float: left;
    width: 50%;
    background: #1b0034;
    display: block;
    height: 100%;
}
.aboutImg-background-right{
    float: left;
    width: 50%;
    background: #1b0034;
    display: block;
    height: 100%;
}


.aboutImg-link {
    display: block;
    width: 1200px;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.aboutImg-link-left{
    display: block;
    width: 50%;
    height: 100%;
    float: left;

}
.aboutImg-link-right{
    display: block;
    width: 50%;
    height: 100%;
    float: left;

}*/
/*---------------------------For About page----------------------------------------------------------*/
.aboutpage .page-content{
    margin: 0 !important;
    width: 100% !important;
    padding:0 !important;
}
.about-image.mobile-view{
    display: none;
}
@media only screen and (min-width: 320px) and (max-width: 470px) {
    .mobile-view .about-image{
        /*height: 480px;*/
        overflow: hidden;
        margin-bottom: -6px;
    }
    .mobile-view .about-image-contain{
        /*height: 535px;*/
        /*overflow: hidden;*/
        background: #1b0034;
        color:#fff;
        padding: 0 20px;
    }
    .about-image.mobile-view{
        display: block;
    }
    .about-image.web-view{
        display: none;
    }

}
@media only screen and (min-width: 471px) and (max-width: 590px) {
    .mobile-view .about-image{
        /*height: 535px;*/
        overflow: hidden;
        width: 100%;
        margin-bottom: -6px;
    }
    .mobile-view .about-image-contain{
        background: #1b0034;
        color:#fff;
        padding: 0 20px;
    }
    .about-image.mobile-view{
        display: block;
    }
    .about-image.web-view{
        display: none;
    }

}
@media only screen and (min-width: 591px) and (max-width: 768px) {
    .mobile-view .about-image{
        /*height: 700px;*/
        overflow: hidden;
        width: 100%;
        margin-bottom: -6px;
    }
    .mobile-view .about-image-contain{
        background: #1b0034;
        color:#fff;
        padding: 0 20px;
    }
    .about-image.mobile-view{
        display: block;
    }
    .about-image.web-view{
        display: none;
    }
    .hed-btn > ul {
        padding: 12px 0 0;
    }

}


@media only screen and (min-width: 320px) and (max-width:1360px) {
    .text-content .contain p{
        /*font-size: 23px;*/
        font-size: 1.3vw !important;
        margin-top: 20px;
    }
}

@media only screen and (min-width: 320px) and (max-width:1000px) {
    .about-image-right .text-content .contain {
        width: 100% !important;
    }
    .about-image-left .text-content .contain {
        width: 100% !important;
        padding-left: 20px;
    }
}
@media only screen and (min-width: 800px) and (max-width:1400px) {
    .about-image-right .text-content .contain {
        margin-top: 0 !important;
        /*padding: 30px 20px 10px !important;*/
    }
    .about-image-left .text-content .contain {
        margin-top: 0 !important;
        /*padding: 30px 20px 10px;*/
    }
}
@media only screen and (min-width: 1450px) {
    .text-content .contain p {
        font-size: 18px !important;
    }
    .about-image-left .text-content .contain {
        margin-top: 50px;
    }
    .about-image-right .text-content .contain {
        margin-top: 50px;
    }
}

/*---------------------------End For About page----------------------------------------------------------*/