html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    background: #fafafa;
}
body.home-bg{
    overflow: hidden;
}

.page-container,.homepage-banner,#index-banner,.homepage-banner .section{
    width: 100%;
    height: 100%;
}

body.home-bg .page-container{
    background: url(../images/main-bg2.jpg) no-repeat center / cover; 
    height: 100vh;
    position: relative;
}
body.home-bg .page-container .backoverlay{
    position: absolute;
    background: rgba(21,101,192,0.2) ;
    background: rgba(0,0,0,0.5) ;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 222;
}
body.home-bg .page-container .banner-container{
    position: relative;
    z-index: 999;
}

.tik-header nav i.material-icons.bigfont{
    font-size: 34px;
}
.margin0{
    margin: 0 !important;
}
.margin-bottom-0{
    margin-bottom: 0 !important;
}
.margin-bottom-15{
    margin-bottom: 15px !important;
}
.margin-bottom-25{
    margin-bottom: 25px !important;
}
.margin-bottom-50{
    margin-bottom: 50px !important;
}
.margin-bottom-75{
    margin-bottom: 75px !important;
}
.margin-bottom-100{
    margin-bottom: 100px !important;
}
.margin-top-15{
    margin-top: 15px !important;
}
.margin-top-25{
    margin-top: 25px !important;
}
.margin-top-50{
    margin-top: 50px !important;
}
.margin-top-100{
    margin-top: 100px !important;
}
.width100{
    width: 100% !important;
}
.width40{
    width: 40% !important;
}
.btn-medium{
    font-size: 16px;
    line-height: 0;
    padding: 20px;
}
.btn-large{
    font-size: 25px;
    line-height: 0;
    padding: 30px;
}
.font-size-14{
    font-size: 14px;

}

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]), 
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]), 
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
    border-bottom: 1px solid #1565C0;
    box-shadow: 0 1px 0 0 #1565C0;
}
input:not([type]):focus:not([readonly])+label,
input[type=text]:focus:not([readonly])+label,
input[type=password]:focus:not([readonly])+label,
input[type=email]:focus:not([readonly])+label,
input[type=url]:focus:not([readonly])+label,
input[type=time]:focus:not([readonly])+label,
input[type=date]:focus:not([readonly])+label,
input[type=datetime]:focus:not([readonly])+label, 
input[type=datetime-local]:focus:not([readonly])+label, 
input[type=tel]:focus:not([readonly])+label,
input[type=number]:focus:not([readonly])+label,
input[type=search]:focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label{
    color: #1565C0;
}
.blue-text.darken-3{
    color: #1565C0 !important;
}
/* Home page CSS */
.location-input{
    position: relative; margin-top: 25px; text-align: center;
}
.button-container{
    margin-top: 50px; text-align: center;
}
.location-input > i.material-icons{
    border-radius: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background: #1565C0;
    color: #fff !important;
}
.location-input #global-search,
.home-bg .input-field .prefix ~ label
.home-bg .input-field .prefix ~ .autocomplete-content{
    margin-left: 4rem;
    width: calc(100% - 4rem);
}

.homepage-banner .section{
    position: relative;
    top: 6%;
}

.verticle-middle{
    vertical-align: middle;
}

/* Home page CSS */
/* Booking page css */
.booking-content .banner-content{
    background: url(../images/booking-bg1.png) repeat center rgba(33,150,243,1);
    width: 100%;
    height: 400px;
    max-width: 100%;
    padding-top: 150px;

}
.booking-content .banner-content h3{
    margin: 0 0 15px;
    font-weight: 300;
}
.booking-content .banner-content h6{
    font-weight: 300;
    line-height: 20px;
}
.booking-content .stepper-start{
    width: 720px;
    max-width: 720px;
    margin: -50px auto 0;
    border-radius: 0;
}
.text-center{
    text-align: center !important;
}
.text-right{
    text-align: right !important;
}
.card.stepper-start{
    background-color: transparent;
    box-shadow: none;
}
.card.stepper-start .card-content{
    padding: 0;
    border-radius: 0; 
}
.card.stepper-start .card-content ul.stepper>.step:not(:last-of-type):after{
    display: none;
}
.card.stepper-start .card-content ul.stepper> li.step{
    background: #f7f7f7;
    color: rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
    padding: 24px;
    width: 688px;
    margin: 0 auto 25px;
}
.card.stepper-start .card-content ul.stepper> li.step.active{
    background: #ffffff;
    color: rgba(0,0,0,1);
    width: 720px;
    -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,0.26);
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.26);
}
.card.stepper-start .card-content ul.stepper> li.step:before{
    height: 40px;
    width: 40px;
    line-height: 40px;
    top:25px;
    font-size:20px;
}
.card.stepper-start .card-content ul.stepper .step-title{
    padding-left: 82px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.card.stepper-start .card-content ul.stepper> li.step.done:before{
    background: rgba(76, 175, 80,0.4);
}

.card.stepper-start .card-content ul.stepper .step-content{
    margin-left: 60px;
    /*display: block;*/
    width: auto;
    margin-right: 0;
}
.card.stepper-start .card-content ul.stepper .step-actions{
    display: block;
}
.card.stepper-start .card-content ul.stepper .input-field.col label{
    left: 0;
}
ul.stepper .step-title:hover{
    background: none;
}
.clearfix{
    clear: both;
}
.card.stepper-start .card-content ul.stepper li.stores-step .step-content{
    margin-left: 0;
}

.store-list .store-container {
    padding: 10px 0 0;
    margin-bottom: 15px;
}
.store-container{
    box-shadow: 0 0 0 0 rgba(0,0,0,0.14),
        0 0 0 0 rgba(0,0,0,0.12),
        0 3px 1px -2px rgba(0,0,0,0.2);
}
.store-container .card{
    box-shadow: none;
}
.store-left-area {
    text-align: center;
}
.store-left-area img{
    width: 100%;
    height: 100%;
    max-width: 100%;
}
.store-list .store-container .store-right-area{

}
.store-list .store-container .store-right-area h3 {
    margin: 0 0 10px;
    font-size: 24px;
    line-height: 20px;
    color: #1565C0;
    font-weight: 400;
}

.store-list .store-container .store-right-area h5,
.store-list .store-container .store-left-area h5{
    font-size: 13px;
    font-weight: normal;
    margin: 0 0 6px; 
    line-height: 26px;
}
.store-list .store-container .store-right-area h5.display-inline-block {
    display: inline-block;
    margin-right: 5px;
}
.store-list .store-container .store-left-area h5{
    text-align: left;
}

.store-list .store-container .store-right-area h5 > i.material-icons ,
.store-list .store-container .store-left-area h5 > i.material-icons {
    font-size: 16px;
    position: relative;
    top: 3px;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    text-align: center;
    line-height: 22px;
    margin-right: 5px;
}
ul.days-container,
ul.facility-container,
ul.rating-container,
ul.morelinks-container{
    margin: 5px 0;
    padding: 0;
    width: 50%;
    display: block;
    float: left
}
ul.facility-container{
    margin:0;
}

ul.facility-container,ul.rating-container{
    /*    float: right;
        text-align: right;*/
    width: 100%;
    text-align: left;
}
ul.days-container > li,
ul.facility-container > li,
ul.rating-container > li
{
    display: inline-block;
    width: 26px;
    height: 26px;
    border-radius: 100%;
    background: #1565C0;
    text-align: center;
    line-height: 26px;
    color: #fff;
    margin-right: 4px;
}
ul.morelinks-container {
    margin: 0;
}
ul.morelinks-container > li{
    display: inline-block;
    width: auto;
    height: 26px;
    line-height: 26px;
    margin-right: 4px; 
}
ul.facility-container > li,
ul.rating-container > li{
    width: auto;
    border-radius: 15px;
    padding: 0 10px;
    background: transparent;
    color: #999;
}
ul.rating-container > li{
    padding: 0;
    width: 26px;
    height: 26px;
    margin: 1px 0;
    float: left;
}
ul.facility-container > li i.material-icons{
    line-height: 26px;
    font-size: 22px;
}
ul.rating-container > li > i.material-icons{
    line-height: 26px;
    font-size: 28px;
    color: #F57C00;
}
ul.facility-container > li.active a{
    color: #F57C00;
}
ul.facility-container > li{
    width: 20px;
    height: 20px;
    padding: 0 0;
}
ul.days-container > li.holiday{
    background: #CCCCCC;
}
ul.stepper .step.active:before, ul.stepper .step.done:before {
    background-color: #1565C0;
}
.pillar{
    margin-left: 5px;
    color: #ccc;
}

.services-step .step-content{
    margin: 0 !important;
}
.services-container {
    float: left;
    width: 140px;
    height: 140px;
    text-align: center;
    border-radius: 100%;
    line-height: 30px;
    background: #1565C0;
    /*border:1px solid #1565C0;*/
    margin: 0 14px 22px;
    color: #fff;
    cursor: pointer;
}
.services-container:hover,
.services-container.active{
    background: #1565C0;
    transform: scale(0.97);
    transition: linear 500ms;
    background: #F57C00;
}
.services-container i.material-icons {
    display: block;
    font-size: 40px;
    margin: 20px 0 0;
}
.services-container:nth-child(4n) {
    margin-right: 0;
}
.services-container p.service-title {
    display: block;
    line-height: 19px;
    padding: 0 10px;
    text-align: center;
    margin-top: 6px;
}
span.service-price{
    font-weight: bold;
}
.timeslots-container {
    margin: 15px 6px 0;
}
.timeslot {
    background: #999 none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    line-height: 35px;
    margin: 5px 2px;
    padding: 0 15px;
    transition: linear 500ms;
}
.timeslot.booked,.timeslot:hover {
    background: #F57C00 none repeat scroll 0 0; 
}
.timeslot:hover {
    transform: scale(1.05);
}
.help-block{
    font-size: 12px;
    color: #333;
}
/* Booking page css */

/* Custom modal */
.custom-modal.modal .modal-content{
    padding: 0;
}
.tab-cont{
    background: #fff;
}
.signbtn{
    position: relative;
    width: 50%;
    margin: 0 auto;
}
.signbtn i.material-icons {
    position: absolute;
    right: 10px;
    border-radius: 100%;
    background: #fff;
    width: 25px;
    height: 25px;
    line-height: 25px;
    top: 8px;
}

.custom-modal .input-field input{
    margin-bottom: 10px;
}
.custom-modal#login-popup .tab-cont{
    height: 390px;
}
.custom-modal#login-popup .tabs .tab a,
.custom-modal#login-popup .tabs .tab a:hover,
.tabs .indicator .tabs .tab a.active{
    color: #F57C00;
}
.custom-modal#login-popup .tabs .indicator{
    background-color: #F57C00;
}

/* Custom modal */

/* Colors */
.backcolor-1{
    background-color: #505C8B; 
}
.backcolor-2{
    background-color: #42CEB2;
}
.backcolor-3{
    background-color: #496FBC;
}
.backcolor-4{
    background-color: #776FCE;
}
.backcolor-5{
    background-color: #DE6D75;
}
.backcolor-6{
    background-color: #E6A65A;
}
.backcolor-7{
    background-color: #4B76C2;
}
.backcolor-8{
    background-color: #486FBC;
}
.backcolor-9{
    background-color: #486BB8;
}
.backcolor-10{
    background-color: #D9679C;
}
.backcolor-11{
    background-color: #45C6BA;
}
.backcolor-12{
    background-color: #D17447;
}
.backcolor-13{
    background-color: #505C8B; 
}
.backcolor-14{
    background-color: #42CEB2;
}
.backcolor-15{
    background-color: #496FBC;
}
.backcolor-16{
    background-color: #776FCE;
}
.backcolor-17{
    background-color: #DE6D75;
}
.backcolor-18{
    background-color: #E6A65A;
}
.backcolor-19{
    background-color: #4B76C2;
}
.backcolor-20{
    background-color: #486FBC;
}
.backcolor-21{
    background-color: #486BB8;
}
.backcolor-22{
    background-color: #D9679C;
}
.backcolor-23{
    background-color: #45C6BA;
}
.backcolor-24{
    background-color: #D17447;
}
/* Colors */

/* Booking Modal */
.booking-modal{
    top : 0 !important;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 100%;
}

.booking-modal .modal-content{
    padding: 0;
    position: relative;
}
.booking-modal .modal-content .modal-header{
    padding: 15px;
    height: 100px;
}
.booking-modal .modal-content .modal-header .closebtn{
    position: absolute;
    color: #fff;
    top: 35px;
    right: 20px;
    font-size: 36px;
    cursor: pointer;
}
.booking-modal .modal-content .modal-header .location-input {
    margin: 15px auto;
    width: 40%;
}
.booking-modal .modal-content .modal-header .location-input #global-search{
    margin: 0 0 0 55px;
    width: 100%;
    z-index: 9999;
    position: relative;
    font-size: 20px;
}
.booking-modal .modal-content .modal-header  .input-field{
    margin: 0;
}
.booking-modal .modal-content .modal-header  .input-field .location-input .prefix ~ label{
    margin: 0 0 0 55px; 
    top:0.5em;
}
.booking-modal .modal-content .modal-header .location-input > i.material-icons {
    border-radius: 100%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background: #fff;
    color: #1565C0 !important;
}
.booking-modal .modal-content .modal-header  .input-field .location-input .prefix ~ label:not(.label-icon).active {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}
.booking-modal .modal-content .modal-header .location-input input#global-search:not([type]):focus:not([readonly]),
.booking-modal .modal-content .modal-header .location-input input#global-search[type=text]:focus:not([readonly]){
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 0 0 #fff;
}
ul.modal-tabs {
    margin: 15px auto;
    width: 30%;
}
ul.modal-tabs li.tab {
    width: 50%;
    display: block;
    float: left;
}
ul.modal-tabs li.tab:first-child{
    border-right: 1px solid #ccc;
}
ul.modal-tabs li.tab a.active,
ul.modal-tabs li.tab a:hover{
    background: #f57c00 none repeat scroll 0 0;
    color: #fff;
}
ul.modal-tabs li.tab a {
    color: #1565c0;
}
.modal-tabs .indicator{
    display: none !important;
}
.tab-container{
    width: 79%;
    margin:0 auto;
}
.tab-container #services-tab, .tab-container #stores-tab {
    margin: 0 auto;
    padding: 25px 17px;
    text-align: center;
}
.tab-container .services-container:nth-child(4n) {
    margin-right: 13px;
}
.tab-container .services-container{
    margin-right: 13px;
    margin-left: 13px;
}
/* Booking Modal */

/* Select Stores */
.select-stores-container .sub-header{
    padding: 20px 0;
}
.select-stores-container .input-field,
.select-stores-container .location-input{
    margin-top: 0;
}
.select-stores-container .input-field .prefix ~ label{
    margin-left: 3em;
}
.select-stores-container .input-field .prefix ~ label.active{
    top: 25px;
}
.select-stores-container .location-input{
    width: 40%;
    margin: 0 auto;
    position: relative;
}
.select-stores-container .location-input input{
    margin-bottom: 0;
}
.container{
    margin: 0 auto;
    width: 90%;
}
.page-title h3 {
    color: #fff;
    margin: 10px 0 0;
    font-size: 26px;
    font-weight: normal;
    letter-spacing: 0.5px;
}
.page-title h5 {
    color: #fff;
    margin: 8px 0 0;
    font-size: 15px;
}
.fixed-header{
    position: fixed;
    top: 65px;
    left: 0;
    width: 100%;
    z-index: 888;
}
.fixed-header.select-date-container{
    top: 151px;
    /*border-bottom: 1px solid #1565C0;*/
    box-shadow: 0 2px 2px rgba(0,0,0,0.1); 
}
.page-content {
    margin: 95px 0 0;
}
.select-date-container{
    background: #fff;
    text-align: center;
}
.select-date-container ul{
    padding: 8px;
    margin: 0 auto;
}

.select-date-container ul > li {
    display: inline-block;
    background: #f2f2f2;
    padding: 9px 10px;
    width: 50px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 100%;
    height: 50px;
    transition: all linear 300ms;
    color: #1565C0;
    margin: 0 2px;
}

.select-date-container ul > li:hover,
.select-date-container ul > li.active{
    background: #f57c00;
    color: #fff;
}
.select-date-container ul li b {
    display: block;
    font-size: 17px;
    line-height: 16px;
}
.select-date-container ul li span {
    font-size: 11px;
}
.stores-listing {
    background: #fff;
    padding: 0 15px;
    margin: 15px auto;
}
.google-map{
    margin: 15px auto;
}
.book-now-btn{
    padding: 8px 0;
    height: 50px;
    font-weight: bold;
}
.price-text{
    display: block;
    margin: 8px 0;
}
.store-name{
    float: left;
    width: 75%;
}
.stores-listing ul.rating-container{
    margin: 0 0 10px;
}
ul.service-container {
    padding: 0;
    margin: 5px 0;
}
ul.service-container li {
    display: inline-block;
}
ul.service-container li a {
    display: block;
    background: #ddd;
    padding: 5px 12px;
    color: #1565c0;
    border-radius: 0;
    margin: 5px 2px 0 0;
    text-align: center;
}
ul.service-container li a > b {
    display: block;
}
ul.service-container li.active a,
ul.service-container li a:hover{
    background: #1565c0;
    color: #fff;
}
.card .card-content  .card-title{
    text-align: left;
}
.card .card-image .btn-floating.btn-large i{
    line-height: 56px;
}
.card-image .btn-floating.btn-large{
    padding: 0 !important;
}
.card .btnarea{
    position: absolute;
    bottom: -26px;
    width: 100%;
    text-align: center;
}
.card .btnarea a{
    margin: 0 5px;
}
.card .card-content {
    padding: 35px 0px;
}
.service-list ul{
    padding: 0;
    margin: 0 0 10px;
}
.service-list ul li {
    margin-bottom: 5px;
    text-align: left;
    cursor: pointer;
}
.service-list ul li a{
    background: #f2f2f2;
    display: block;
    padding: 10px;
    color: #1565C0;
    transition: all linear 300ms;
}
.service-list ul li:hover a,
.service-list ul li.active a{
    background: #1565C0;
    color: #fff;
}
.service-list ul li span {
    float: left;
    width: 50%;
    display: block;
}
.service-list ul li span:nth-child(2){
    text-align: right;
}
.text-left{
    text-align: left !important;
}
.sub-title{
    display: block;

}
#choose-time .modal-heading{
    font-size: 20px;
    color: #fff;
    border-bottom: 2px solid #fff ;
    display: inline-block;
    padding: 5px 0;
    margin: 0 auto 15px;
    text-transform: uppercase;
}
#choose-time .modal-content{
    text-align: center;
}
#choose-time .time-heading {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 16px;
    margin: 15px 0;
}
ul.time-slot-list li {
    display: inline-block;
}
ul.time-slot-list li a {
    border: 1px solid #fff;
    color: #fff;
    padding: 6px;
    display: block;
    border-radius: 4px;
    margin: 0 2px 8px;
    width: 85px;
    font-size: 14px;
}
ul.time-slot-list li a:hover{
    background: #fff;
    color: #1565C0;
}
#choose-time.modal{
    max-height: 95% !important;
}
.padding0{
    padding : 0 !important;
}

.confirm-time{
    border: 1px solid #F57C00;
    color: #F57C00;
    border-radius: 4px;
    padding: 8px;
    width: 80%;
    margin: 25px auto 0;
    display: block;
    font-weight: bold;
}
.totaltxt{
    display: block;
    text-align: right;
    padding: 0 10px !important;
    line-height: 34px;
    font-size: 20px;
    font-weight: 300;
}
.payment-title {
    border-bottom: 1px solid #ff9800;
    color: #1565c0;
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    margin: 0;
}
.tabs-vertical .tabs {
    height: auto;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column; }
.tabs-vertical .tab {
    width: 100%;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: block;
    float: left;
    text-align: left;
    line-height: 48px;
    height: 48px;
    padding: 0;
    margin: 0;
    text-transform: uppercase;

    text-overflow: ellipsis; }
.tabs-vertical .tab .active {
    -moz-transition: border-color .5s ease;
    -o-transition: border-color .5s ease;
    -webkit-transition: border-color .5s ease;
    transition: border-color .5s ease;
    border-right: 2px solid #1565C0;
    color: #F57C00 !important; }
.tabs-vertical .tab a {
    border-right: 2px solid #ccc;
    color: #1565C0;
    display: block;
    width: 100%;
    height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-transition: color 0.28s ease;
    -moz-transition: color 0.28s ease;
    -o-transition: color 0.28s ease;
    -ms-transition: color 0.28s ease;
    transition: color 0.28s ease; }
.tabs-vertical .tab a:hover {
    color: #1565C0; }
.tabs-vertical .tab.disabled a {
    color: #1565C0;
    cursor: default; }
.tabs-vertical .indicator {
    display: none; }
.paddingTop10{
    padding-top: 10px !important;
}
.dropdown-content li > a,
.dropdown-content li > span{
    color: #1565C0 !important;
}
[type="checkbox"]:checked + label::before{
    border-color: transparent #1565C0 #1565C0 transparent;
}
.tabs-vertical .tab-content{
    min-height: 300px;
}
.padding8{
    padding: 8px !important;
}
.imageSqare{
    width: 150px !important;
    height: 80px !important;
}
/* Select Stores */
.input-field.has-error input {
    border-bottom: 1px solid #db1313;
}
.login-form .form-group.has-error input {
    border: 2px solid #FF1717;
}

.alert-msg {
    display: block;
    text-align: center;
    margin: 10px auto;
    font-size: 12px;
}

.alert-msg.alert-danger {
    color: #FF1717;
}

.alert-msg.alert-success {
    color: darkgreen;
}

.alert-msg.alert-warning {
    color: #00A0D1;
}
.loginlinks.loggedin {
    color: #1565C0 !important;
    width: 160px;
}
.loginlinks a.logout-link {
    display: inline-block;
    padding: 0 10px;
    color: #1565C0 !important;
}